<div class="hero-unit">
  <h1><%= @winner_name.capitalize %> won!</h1>
  The game lasted <%= @elapsed_time %> seconds. Hooray!

  <div><a href="/" class="btn btn-primary btn-large pull-left">Play again!</a></div>

  <div><a href='/game/all_stats' class="btn btn-large">See All Stats</a></div>



</div>




